h1{
    background-color: #7bc1f7;
    height: 200px;
    color: white;
    text-align: center;
    margin: -8px;
    padding-top: 50px;
    font-size: 100px;
    font-family: monospace;
}

#align{
    padding-top: 60px;
    text-align: center;
}

h4{
    font-family: monospace;
    font-size: 20px;
}

#submit{
     font-size: 18px;
     padding: 6px 40px;
     border-radius: 50px;
     border: solid 1px #dcdcdc;
     cursor: pointer;
     display: inline-block;
     font-weight: bold;
     font-family: monospace;
     color: black;
     box-shadow: inset 1px 1px 0px 0px #ffffff;
     background: -webkit-linear-gradient(90deg, #f6f6f6 8%, #ffffff 76%);
     background: -moz-linear-gradient(90deg, #f6f6f6 8%, #ffffff 76%);
     background: -ms-linear-gradient(90deg, #f6f6f6 8%, #ffffff 76%);
     background: -o-linear-gradient(90deg, #f6f6f6 8%, #ffffff 76%);
 }
 #submit:hover{
     background: -webkit-linear-gradient(90deg, #ffffff 8%, #f6f6f6 76%);
     background: -moz-linear-gradient(90deg, #ffffff 8%, #f6f6f6 76%);
     background: -ms-linear-gradient(90deg, #ffffff 8%, #f6f6f6 76%);
     background: -o-linear-gradient(90deg, #ffffff 8%, #f6f6f6 76%);
 }
 #submit:active{
     position: relative;
     top: 1px;
     box-shadow: rgba(255,255,255,0.2) 0 16px 0,inset rgba(0,0,0,0.3) 0px 4px 16px;
 }

 
#title { 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    font-family: monospace;
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
#title:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 
